:root {
  --donkeybrown: #a89786;
  --birch: #302b1f;
  --shinglefawn: #6e5130;
  --saddle: #553628;
}

body {
  background-color: var(--saddle);
  margin: 0;
  padding: 0;
  color: var(--birch);
}

.content {
  background-color: var(--donkeybrown);
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 25px;
}

.content-header {
  display: block;
  text-align: center;
  /* margin: auto; */
}

.index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#front-image {
  border-radius: 15px;
}

.content-element {
  margin: 15px;
}

.resume-section {
  border-top: var(--donkeybrown);
  border-top-style: groove;
  border-top-width: 4px;
}

.resume-section ul {
  list-style-type: circle;
}

.resume-degree {
  margin: 0px;
}

.resume-grad-date {
  margin-top: 0px;
}

.resume-position {
  /* display: flex; */
}

.projects {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0px;
}

.project-box {
  display: inline-block;
  width: 275px;
  height: auto;
  text-align: center;
  align-items: center;
  border-style: double;
  border-color: var(--saddle);
  border-width: 4px;
  border-radius: 4px;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 210px;
  margin: auto;
}

.project-image {
  width: 200px;
  margin: auto;
}

.project-description {
  height: 72px;
}

.project-link {
  display: block;
  border-color: var(--birch);
  border-style: groove;
  border-radius: 4px;
  width: fit-content;
  text-decoration: none;
  margin: 10px auto;
  padding: 5px;
  color: inherit;
}

.project-link:hover {
  background-color: var(--birch);
  color: whitesmoke;
}

#form-outline {
  display: block;
  border-style: ridge;
  border-color: var(--saddle);
  border-width: 4px;
  width: fit-content;
  text-align: start;
  justify-content: start;
  margin: auto;
}

#message {
  width: 400px;
  height: 200px;
}

.form-element {
  display: grid;
  /* grid-template-columns: 2fr 9fr; */
  margin: 15px;
  font-family: inherit;
}

#btn-box {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  border-color: var(--saddle);
  width: 100px;
  background-color: inherit;
}

.btn:hover {
  background-color: inherit;
}

/* .form-element {
  display: grid;
  grid-template-columns: 2fr 9fr;
  margin: 15px;
} */

.nav-list {
  display: flex;
  list-style: none;
  height: 50px;
  background-color: var(--birch);
  color: white;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-content: center;
}

.list-item {
  display: flex;
  height: 50px;
  width: 75px;
  justify-content: center;
  align-items: center;
  /* text-decoration: none;
  color: white; */
}

.nav-link {
  text-decoration: none;
  color: white;
}

#nav-head {
  margin-left: 15px;
  margin-right: auto;
  align-self: center;
  text-align: center;
}
